In [64]:
import pandas as pd
import numpy as np

In [363]:
data = pd.read_csv('./WEOApr2015all.xls', sep='\t', skip_footer=2, na_values='n/a')
# data = data.dropna(how='all')

/usr/local/lib/python2.7/site-packages/IPython/kernel/__main__.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skip_footer; you can avoid this warning by specifying engine='python'.
  if __name__ == '__main__':

In [364]:
data.columns

Index([u'WEO Country Code', u'ISO', u'WEO Subject Code', u'Country',
       u'Subject Descriptor', u'Subject Notes', u'Units', u'Scale',
       u'Country/Series-specific Notes', u'1980', u'1981', u'1982', u'1983',
       u'1984', u'1985', u'1986', u'1987', u'1988', u'1989', u'1990', u'1991',
       u'1992', u'1993', u'1994', u'1995', u'1996', u'1997', u'1998', u'1999',
       u'2000', u'2001', u'2002', u'2003', u'2004', u'2005', u'2006', u'2007',
       u'2008', u'2009', u'2010', u'2011', u'2012', u'2013', u'2014', u'2015',
       u'2016', u'2017', u'2018', u'2019', u'2020', u'Estimates Start After'],
      dtype='object')

In [121]:
data[data['WEO Subject Code'] == 'NGDP_R']['Units'].unique()[0]

'National currency'

In [100]:
subjects = data['WEO Subject Code'].unique()

In [131]:
concepts_continuous = subjects

In [273]:
concepts_continuous

array(['NGDP_R', 'NGDP_RPCH', 'NGDP', 'NGDPD', 'NGDP_D', 'NGDPRPC',
       'NGDPPC', 'NGDPDPC', 'NGAP_NPGDP', 'PPPGDP', 'PPPPC', 'PPPSH',
       'PPPEX', 'NID_NGDP', 'NGSD_NGDP', 'PCPI', 'PCPIPCH', 'PCPIE',
       'PCPIEPCH', 'FLIBOR6', 'TM_RPCH', 'TMG_RPCH', 'TX_RPCH', 'TXG_RPCH',
       'LUR', 'LE', 'LP', 'GGR', 'GGR_NGDP', 'GGX', 'GGX_NGDP', 'GGXCNL',
       'GGXCNL_NGDP', 'GGSB', 'GGSB_NPGDP', 'GGXONLB', 'GGXONLB_NGDP',
       'GGXWDN', 'GGXWDN_NGDP', 'GGXWDG', 'GGXWDG_NGDP', 'NGDP_FY', 'BCA',
       'BCA_NGDPD'], dtype=object)

In [274]:
headers_continuous = ['concept', 'type', 'name', 'subject_descriptor', 
                      'subject_notes',
                      'unit', 'domain', 'scale'] #TODO: scale should be added to the df

In [275]:
concepts_continuous_df = pd.DataFrame([], columns=headers_continuous)

In [276]:
concepts_continuous_df['name'] = concepts_continuous

In [277]:
concepts_continuous_df['concept'] = concepts_continuous_df['name'].str.lower()

In [278]:
concepts_continuous_df['type'] = 'measure'

In [279]:
concepts_continuous_df['subject_descriptor'] = [data[data['WEO Subject Code'] == x]['Subject Descriptor'].unique()[0] for x in concepts_continuous_df['name']]
concepts_continuous_df['subject_notes'] = [data[data['WEO Subject Code'] == x]['Subject Notes'].unique()[0] for x in concepts_continuous_df['name']]

In [286]:
concepts_continuous_df['unit'] = [data[data['WEO Subject Code'] == x]['Units'].unique()[0] for x in concepts_continuous_df['name']]
concepts_continuous_df['scale'] = [data[data['WEO Subject Code'] == x]['Scale'].unique()[0] for x in concepts_continuous_df['name']]

In [291]:
import os

In [292]:
os.path.join('./output/', 'test')

'./output/test'

In [288]:
concepts_continuous_df.to_csv('./output/ddf--concepts--continuous.csv')

In [287]:
concepts_continuous_df

,concept,type,name,subject_descriptor,subject_notes,unit,domain,scale
0,ngdp_r,measure,NGDP_R,"Gross domestic product, constant prices",Expressed in billions of national currency uni...,National currency,NaN,Billions
1,ngdp_rpch,measure,NGDP_RPCH,"Gross domestic product, constant prices",Annual percentages of constant price GDP are y...,Percent change,NaN,NaN
2,ngdp,measure,NGDP,"Gross domestic product, current prices",Expressed in billions of national currency uni...,National currency,NaN,Billions
3,ngdpd,measure,NGDPD,"Gross domestic product, current prices",Values are based upon GDP in national currency...,U.S. dollars,NaN,Billions
4,ngdp_d,measure,NGDP_D,"Gross domestic product, deflator",The GDP deflator is derived by dividing curren...,Index,NaN,NaN
5,ngdprpc,measure,NGDPRPC,"Gross domestic product per capita, constant pr...",GDP is expressed in constant national currency...,National currency,NaN,Units
6,ngdppc,measure,NGDPPC,"Gross domestic product per capita, current prices",GDP is expressed in current national currency ...,National currency,NaN,Units
7,ngdpdpc,measure,NGDPDPC,"Gross domestic product per capita, current prices",GDP is expressed in current U.S. dollars per p...,U.S. dollars,NaN,Units
8,ngap_npgdp,measure,NGAP_NPGDP,Output gap in percent of potential GDP,Output gaps for advanced economies are calcula...,Percent of potential GDP,NaN,NaN
9,pppgdp,measure,PPPGDP,Gross domestic product based on purchasing-pow...,These data form the basis for the country weig...,Current international dollar,NaN,Billions
10,ppppc,measure,PPPPC,Gross domestic product based on purchasing-pow...,Expressed in GDP in PPP dollars per person. Da...,Current international dollar,NaN,Units
11,pppsh,measure,PPPSH,Gross domestic product based on purchasing-pow...,Expressed in percent of world GDP in PPP dolla...,Percent,NaN,NaN
12,pppex,measure,PPPEX,Implied PPP conversion rate,Expressed in national currency per current int...,National currency per current international do...,NaN,NaN
13,nid_ngdp,measure,NID_NGDP,Total investment,Expressed as a ratio of total investment in cu...,Percent of GDP,NaN,NaN
14,ngsd_ngdp,measure,NGSD_NGDP,Gross national savings,Expressed as a ratio of gross national savings...,Percent of GDP,NaN,NaN
15,pcpi,measure,PCPI,"Inflation, average consumer prices","Expressed in averages for the year, not end-of...",Index,NaN,NaN
16,pcpipch,measure,PCPIPCH,"Inflation, average consumer prices",Annual percentages of average consumer prices ...,Percent change,NaN,NaN
17,pcpie,measure,PCPIE,"Inflation, end of period consumer prices","Expressed in end of the period, not annual ave...",Index,NaN,NaN
18,pcpiepch,measure,PCPIEPCH,"Inflation, end of period consumer prices",Annual percentages of end of period consumer ...,Percent change,NaN,NaN
19,flibor6,measure,FLIBOR6,Six-month London interbank offered rate (LIBOR),NaN,Percent,NaN,NaN
20,tm_rpch,measure,TM_RPCH,Volume of imports of goods and services,Percent change of volume of imports refers to ...,Percent change,NaN,NaN
21,tmg_rpch,measure,TMG_RPCH,Volume of Imports of goods,Percent change of volume of imports of goods r...,Percent change,NaN,NaN
22,tx_rpch,measure,TX_RPCH,Volume of exports of goods and services,Percent change of volume of exports refers to ...,Percent change,NaN,NaN
23,txg_rpch,measure,TXG_RPCH,Volume of exports of goods,Percent change of volume of exports of goods r...,Percent change,NaN,NaN
24,lur,measure,LUR,Unemployment rate,Unemployment rate can be defined by either the...,Percent of total labor force,NaN,NaN
25,le,measure,LE,Employment,Employment can be defined by either the nation...,Persons,NaN,Millions
26,lp,measure,LP,Population,"For census purposes, the total population of t...",Persons,NaN,Millions
27,ggr,measure,GGR,General government revenue,"Revenue consists of taxes, social contribution...",National currency,NaN,Billions
28,ggr_ngdp,measure,GGR_NGDP,General government revenue,"Revenue consists of taxes, social contribution...",Percent of GDP,NaN,NaN
29,ggx,measure,GGX,General government total expenditure,Total expenditure consists of total expense an...,National currency,NaN,Billions
30,ggx_ngdp,measure,GGX_NGDP,General government total expenditure,Total expenditure consists of total expense an...,Percent of GDP,NaN,NaN
31,ggxcnl,measure,GGXCNL,General government net lending/borrowing,Net lending (+)/ borrowing (?) is calculated a...,National currency,NaN,Billions
32,ggxcnl_ngdp,measure,GGXCNL_NGDP,General government net lending/borrowing,Net lending (+)/ borrowing (?) is calculated a...,Percent of GDP,NaN,NaN
33,ggsb,measure,GGSB,General government structural balance,The structural budget balance refers to the ge...,National currency,NaN,Billions
34,ggsb_npgdp,measure,GGSB_NPGDP,General government structural balance,The structural budget balance refers to the ge...,Percent of potential GDP,NaN,NaN
35,ggxonlb,measure,GGXONLB,General government primary net lending/borrowing,Primary net lending/borrowing is net lending (...,National currency,NaN,Billions
36,ggxonlb_ngdp,measure,GGXONLB_NGDP,General government primary net lending/borrowing,Primary net lending/borrowing is net lending (...,Percent of GDP,NaN,NaN
37,ggxwdn,measure,GGXWDN,General government net debt,Net debt is calculated as gross debt minus fin...,National currency,NaN,Billions
38,ggxwdn_ngdp,measure,GGXWDN_NGDP,General government net debt,Net debt is calculated as gross debt minus fin...,Percent of GDP,NaN,NaN
39,ggxwdg,measure,GGXWDG,General government gross debt,Gross debt consists of all liabilities that re...,National currency,NaN,Billions
40,ggxwdg_ngdp,measure,GGXWDG_NGDP,General government gross debt,Gross debt consists of all liabilities that re...,Percent of GDP,NaN,NaN
41,ngdp_fy,measure,NGDP_FY,Gross domestic product corresponding to fiscal...,Gross domestic product corresponding to fiscal...,National currency,NaN,Billions
42,bca,measure,BCA,Current account balance,Current account is all transactions other than...,U.S. dollars,NaN,Billions
43,bca_ngdpd,measure,BCA_NGDPD,Current account balance,Current account is all transactions other than...,Percent of GDP,NaN,NaN

In [353]:
discrete = data.columns

In [358]:
y1 = discrete.get_loc('1980')
y2 = discrete.get_loc('2020')

In [361]:
discrete = np.concatenate([discrete[:y1], discrete[y2+1:], ['year']])

In [362]:
discrete

array(['WEO Country Code', 'ISO', 'WEO Subject Code', 'Country',
       'Subject Descriptor', 'Subject Notes', 'Units', 'Scale',
       'Country/Series-specific Notes', 'year'], dtype=object)

In [360]:
discrete

array(['WEO Country Code', 'ISO', 'WEO Subject Code', 'Country',
       'Subject Descriptor', 'Subject Notes', 'Units', 'Scale',
       'Country/Series-specific Notes', '2020', 'Estimates Start After',
       'year'], dtype=object)

In [158]:
headers_discrete = ['concept', 'name', 'type', 'domain', 'drillups']

In [206]:
concepts_discrete_df = pd.DataFrame([], columns=headers_discrete)

In [207]:
concepts_discrete_df['name'] = discrete

In [208]:
concepts_discrete_df['concept'] = concepts_discrete_df['name'].str.lower().str.replace(' ', '_')

In [209]:
concepts_discrete_df['type'] = ['entity_set', 'entity_set', 'entity_set',
                               'entity_set', 'string', 'string', 'unit',
                                'entity_set', 'string', 'time', 'time'
                               ]

In [210]:
concepts_discrete_df.to_csv('./output/ddf--concepts--discrete.csv')

In [211]:
concepts_discrete_df

,concept,name,type,domain,drillups
0,weo_country_code,WEO Country Code,entity_set,NaN,NaN
1,iso,ISO,entity_set,NaN,NaN
2,weo_subject_code,WEO Subject Code,entity_set,NaN,NaN
3,country,Country,entity_set,NaN,NaN
4,subject_descriptor,Subject Descriptor,string,NaN,NaN
5,subject_notes,Subject Notes,string,NaN,NaN
6,units,Units,unit,NaN,NaN
7,scale,Scale,entity_set,NaN,NaN
8,country/series-specific_notes,Country/Series-specific Notes,string,NaN,NaN
9,estimates_start_after,Estimates Start After,time,NaN,NaN
10,year,year,time,NaN,NaN

In [178]:
entities_weo_country_code = data['WEO Country Code'].unique()
entities_iso = data['ISO'].unique()
entities_weo_subject_code = data['WEO Subject Code'].unique()
entities_country = data['Country'].unique()
entities_units = data['Units'].unique()
entities_scale = data['Scale'].unique()

In [181]:
weo_country_df = pd.DataFrame([], columns=['weo_country_code', 'name', 'iso'])
weo_country_df['weo_country_code'] = entities_weo_country_code
weo_country_df['name'] = entities_country
weo_country_df['iso'] = entities_iso

In [289]:
weo_country_df

     weo_country_code                      name  iso
0                 512               Afghanistan  AFG
1                 914                   Albania  ALB
2                 612                   Algeria  DZA
3                 614                    Angola  AGO
4                 311       Antigua and Barbuda  ATG
5                 213                 Argentina  ARG
6                 911                   Armenia  ARM
7                 193                 Australia  AUS
8                 122                   Austria  AUT
9                 912                Azerbaijan  AZE
10                313               The Bahamas  BHS
11                419                   Bahrain  BHR
12                513                Bangladesh  BGD
13                316                  Barbados  BRB
14                913                   Belarus  BLR
15                124                   Belgium  BEL
16                339                    Belize  BLZ
17                638                     Benin  BEN
18                514                    Bhutan  BTN
19                218                   Bolivia  BOL
20                963    Bosnia and Herzegovina  BIH
21                616                  Botswana  BWA
22                223                    Brazil  BRA
23                516         Brunei Darussalam  BRN
24                918                  Bulgaria  BGR
25                748              Burkina Faso  BFA
26                618                   Burundi  BDI
27                624                Cabo Verde  CPV
28                522                  Cambodia  KHM
29                622                  Cameroon  CMR
..                ...                       ...  ...
159               366                  Suriname  SUR
160               734                 Swaziland  SWZ
161               144                    Sweden  SWE
162               146               Switzerland  CHE
163               463                     Syria  SYR
164               528  Taiwan Province of China  TWN
165               923                Tajikistan  TJK
166               738                  Tanzania  TZA
167               578                  Thailand  THA
168               537               Timor-Leste  TLS
169               742                      Togo  TGO
170               866                     Tonga  TON
171               369       Trinidad and Tobago  TTO
172               744                   Tunisia  TUN
173               186                    Turkey  TUR
174               925              Turkmenistan  TKM
175               869                    Tuvalu  TUV
176               746                    Uganda  UGA
177               926                   Ukraine  UKR
178               466      United Arab Emirates  ARE
179               112            United Kingdom  GBR
180               111             United States  USA
181               298                   Uruguay  URY
182               927                Uzbekistan  UZB
183               846                   Vanuatu  VUT
184               299                 Venezuela  VEN
185               582                   Vietnam  VNM
186               474                     Yemen  YEM
187               754                    Zambia  ZMB
188               698                  Zimbabwe  ZWE

[189 rows x 3 columns]

In [185]:
weo_country_df.to_csv('./output/ddf--entities--countries.csv')

In [191]:
units_df = pd.DataFrame([], columns=['unit', 'name', 'link'])
units_df['name'] = entities_units

In [192]:
units_df['unit'] = units_df['name'].str.lower().str.replace(' ', '_')

In [193]:
units_df

,unit,name,link
0,national_currency,National currency,NaN
1,percent_change,Percent change,NaN
2,u.s._dollars,U.S. dollars,NaN
3,index,Index,NaN
4,percent_of_potential_gdp,Percent of potential GDP,NaN
5,current_international_dollar,Current international dollar,NaN
6,percent,Percent,NaN
7,national_currency_per_current_international_do...,National currency per current international do...,NaN
8,percent_of_gdp,Percent of GDP,NaN
9,percent_of_total_labor_force,Percent of total labor force,NaN
10,persons,Persons,NaN

In [194]:
units_df.to_csv('output/ddf--entities--units.csv')

In [201]:
scales_df = pd.DataFrame([], columns=['scale', 'name', 'link'])
scales_df['name'] = entities_scale

In [202]:
scales_df['name'] = scales_df['name'].fillna('NaN')
scales_df['scale'] = scales_df['name'].str.lower()

In [203]:
scales_df

      scale      name link
0  billions  Billions  NaN
1       nan       NaN  NaN
2     units     Units  NaN
3  millions  Millions  NaN

In [204]:
scales_df.to_csv('output/ddf--entities--scales.csv')

In [205]:
!head ./example/ddf--gapminder--systema_globalis-newdefinition/ddf--datapoints--life_expectancy--by--country--year.csv

geo,year,life_expectancy
afg,1800,28.211
afg,1801,28.20075333
afg,1802,28.19050667
afg,1803,28.18026
afg,1804,28.17001333
afg,1805,28.15976667
afg,1806,28.14952
afg,1807,28.13927333
afg,1808,28.12902667

In [212]:
year_range = [u'1980', u'1981', u'1982', u'1983',
       u'1984', u'1985', u'1986', u'1987', u'1988', u'1989', u'1990', u'1991',
       u'1992', u'1993', u'1994', u'1995', u'1996', u'1997', u'1998', u'1999',
       u'2000', u'2001', u'2002', u'2003', u'2004', u'2005', u'2006', u'2007',
       u'2008', u'2009', u'2010', u'2011', u'2012', u'2013', u'2014', u'2015',
       u'2016', u'2017', u'2018', u'2019', u'2020']

In [257]:



datapoint_afg_ngdp_r = data[(data['ISO'] == 'AFG') & (data['WEO Subject Code'] == 'NGDP_R')].loc[:, '1980':'2020']

In [258]:
datapoint_afg_ngdp_r = datapoint_afg_ngdp_r.T
datapoint_afg_ngdp_r.columns = ['ngdp_r']
datapoint_afg_ngdp_r['iso'] = 'AFG'

In [259]:
datapoint_afg_ngdp_r = datapoint_afg_ngdp_r.dropna()

In [260]:
datapoint_afg_ngdp_r

       ngdp_r  iso
2002  183.260  AFG
2003  198.736  AFG
2004  200.069  AFG
2005  223.737  AFG
2006  235.731  AFG
2007  267.177  AFG
2008  277.498  AFG
2009  334.621  AFG
2010  362.857  AFG
2011  386.368  AFG
2012  440.336  AFG
2013  456.453  AFG
2014  463.455  AFG
2015  479.649  AFG
2016  503.234  AFG
2017  533.465  AFG
2018  563.193  AFG
2019  596.182  AFG
2020  627.511  AFG

In [262]:
res = {}

for subject in data['WEO Subject Code'].unique():
    
    datapoints = []
    
    for country in data['ISO'].unique():
        data_ser = data[(data['ISO'] == country) & (data['WEO Subject Code'] == subject)]
        data_ser = data_ser.loc[:, '1980':'2020'].T
        
        data_ser.columns = [subject]
        data_ser['iso'] = country
        
        datapoints.append(data_ser.dropna())
        
    df = pd.concat(datapoints)
    res[subject] = df

In [266]:
for k, v in res.items():
    filename = 'output/ddf--datapoints--' + k + '--by--country--year.csv'
    
    v.to_csv(filename)

In [290]:
concepts_continuous_df[concepts_continuous_df['concept']=='bca']

,concept,type,name,subject_descriptor,subject_notes,unit,domain,scale
42,bca,measure,BCA,Current account balance,Current account is all transactions other than...,U.S. dollars,NaN,Billions

In [294]:
ttt = res['BCA'].copy()

In [296]:
ttt.reset_index()

     index     BCA  iso
0     2002   1.213  AFG
1     2003   0.907  AFG
2     2004   1.317  AFG
3     2005   1.077  AFG
4     2006   0.142  AFG
5     2007   3.146  AFG
6     2008   0.279  AFG
7     2009   1.577  AFG
8     2010   1.273  AFG
9     2011   1.147  AFG
10    2012   1.283  AFG
11    2013   1.515  AFG
12    2014   1.158  AFG
13    2015   0.660  AFG
14    2016   0.115  AFG
15    2017  -0.671  AFG
16    2018  -0.935  AFG
17    2019  -1.045  AFG
18    2020  -0.553  AFG
19    1980   0.001  ALB
20    1981  -0.010  ALB
21    1982  -0.052  ALB
22    1983  -0.037  ALB
23    1984  -0.030  ALB
24    1985  -0.027  ALB
25    1986   0.001  ALB
26    1987   0.007  ALB
27    1988  -0.025  ALB
28    1989  -0.075  ALB
29    1990  -0.096  ALB
...    ...     ...  ...
6978  1991  -0.547  ZWE
6979  1992  -0.842  ZWE
6980  1993  -0.311  ZWE
6981  1994  -0.318  ZWE
6982  1995  -0.369  ZWE
6983  1996  -0.180  ZWE
6984  1997  -0.801  ZWE
6985  1998   0.057  ZWE
6986  1999   0.420  ZWE
6987  2000  -0.020  ZWE
6988  2001   0.056  ZWE
6989  2002  -0.071  ZWE
6990  2003  -0.375  ZWE
6991  2004  -0.492  ZWE
6992  2005  -0.626  ZWE
6993  2006  -0.463  ZWE
6994  2007  -0.374  ZWE
6995  2008  -0.984  ZWE
6996  2009  -3.839  ZWE
6997  2010  -1.507  ZWE
6998  2011  -3.383  ZWE
6999  2012  -3.062  ZWE
7000  2013  -3.432  ZWE
7001  2014  -3.044  ZWE
7002  2015  -3.021  ZWE
7003  2016  -3.431  ZWE
7004  2017  -3.412  ZWE
7005  2018  -3.589  ZWE
7006  2019  -3.737  ZWE
7007  2020  -4.084  ZWE

[7008 rows x 3 columns]

In [346]:
special_notes = data[['ISO', 'WEO Subject Code', 'Country/Series-specific Notes', 'Estimates Start After']].copy()

In [347]:
headers_notes = ['iso', 'weo_subject_code', 'country/series-specific_notes', 'estimates_start_after']
special_notes.columns = headers_notes

In [341]:
ttt = special_notes['estimates_start_after'].copy()

In [342]:
ttt = ttt.dropna().apply(lambda x: str(int(x)))

In [343]:
ttt = ttt.reindex(special_notes.index, method=None)

In [344]:
special_notes['estimates_start_after'] = ttt

In [348]:
special_notes.to_csv('output/ddf--notes.csv', float_format='%.0f')

In [352]:
for x in concepts_continuous_df['name']:
    a = data[data['WEO Subject Code'] == x]['Scale'].unique()
    print(len(a))

1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1